.App {
  text-align: center;
  justify-content: center;
}
.body {
  font-family: Arial;
  background-color: #3498DB;
  padding: 50px;
  }
  .h1{
    color:white;
  }
  .button {
  background-color: white; /* Green */
  border: none;
  color: #3498DB;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
 
}
.form{
  background-color: white;
  height: 150%;
  width: 50%;
  justify-content: center;
  border-radius: 16px;
  margin-left: 20%;

}
th{
  color: #3498DB;
}

.propertyclass{
  background-color: white;
}
.label{
  color: #3498DB;
  
}

  .add {
    background-color: #3498DB; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
   
  }
